src/main/app/sample_in_out_bound.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="sample_in_out_boundFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sample" allowedMethods="GET" doc:name="HTTP"/>
        <set-property propertyName="qpname" value="#[message.inboundProperties.'http.query.params'.qpname]" doc:name="Property"/>
        <set-session-variable variableName="qptype" value="#[message.inboundProperties.'http.query.params'.qptype]" doc:name="Session Variable"/>
        <set-variable variableName="qpage" value="Properties : #[message.inboundProperties.'http.query.params'.qpage]+ 'Type' : #[sessionVars.qptype]+ 'Age' : #[flowVars.age]" doc:name="Variable"/>
        <logger message="#[message.outboundProperties.qpname]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
